<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>About Us</h1>
<h4>Our Mission:</h4>
Our mission is to create accessible maps for families and individuals in need of fresh produce and food to find urban farms and markets nearby that can help them.

<p><h4>Mason Chen:</h4></p>
<h5>Senior Executive Chief Assistant Officer of Strategy</h5>
<img src = "static/senn.png" width="140">
<p>I am a senior at Oakland Technical High School, class of 2023. My vision for this project began in my capstone class when Dogen and I completed research on food deserts in the bay area and how they can be fixed. We learned that there are actually lots of urban farms being created and more opportunities to create more. Our hope is to create a website that makes finding food more accessible.</p>

<p><h4>Dogen Shiota:</h4></p>
<h5>Senior Master Assistant Manager of Style</h5>
<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqfW0fQUxE2Fe1lLnQC8go-b5sxafageVTzw&usqp=CAU" width="110">
<p>I am a senior at Oakland Technical High School, class of 2023. My vision for this project began in my capstone class when Mason and I completed research on food deserts in the bay area and how they can be fixed. We learned that there are actually lots of urban farms being created and more opportunities to create more. Our hope is to create a website that makes finding food more accessible.</p>
{% endblock %}