<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}
        <h1>Add a New Location!</h1>

        <!--List all errors in a group at the top-->
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form method=post>
            {{ form.hidden_tag() }}
            
            {{ form.name.label }} <br>
            {{ form.name(size=64) }}
            <p>
            {{ form.price.label }} <br>
            {{ form.price() }}
        </p>
            <p>
            {{ form.farmType.label }} <br>
            {{ form.farmType() }}
        </p>
            <p>
            {{ form.state.label }} <br>
            {{ form.state(size=64) }}
        </p>
            <p>
            {{ form.zipCode.label }} <br>
            {{ form.zipCode(size=64) }}
        </p>
            <p>
            {{ form.city.label }} <br>
            {{ form.city(size=64) }}
        </p>
            <p>
            {{ form.streetAddress.label }} <br>
            {{ form.streetAddress(size=64) }}
        </p>
            <!-- <p>
            {{ form.picture.label }} <br>
            {{ form.picture(size=64) }}
        </p> -->
            {{form.submit()}}
        </form>
        
{% endblock %}
