{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Farms</h1>
    </div>
    <div class="col">
        <a href="/farm/new" class="btn btn-primary btn-sm mt-5" role="button">New Farm</a>
    </div>
    <div class="col">
        <a href="/farm/favs">Favorites</a>
    </div>
</div>

{% if farms %}
    {% for farm in farms %}
        <div class="row border">
            <div class="col-1 border">
                {% if loop.index == 1 %}
                <h3 class="display-0.5"></h3>
                {% endif %}

                <a href="/farm/delete/{{farm.id}}">
                    <img width="25" class="bottom-image" src="/static/delete.png">
                </a>
                <a href="/farm/edit/{{farm.id}}">
                    <img width="25" class="bottom-image" src="/static/edit.png">
                </a>
                <a href="/farm/fav/{{farm.id}}">
                    {% if farm.fav %}
                        <img width="35" class="bottom-image" src="/static/filledstar.png">
                    {% else %}
                        <img width="25" class="bottom-image" src="/static/unfilledstar.png">
                    {% endif %}                       
                </a>

            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                <h3 class="display-0.5">Date</h3>
                {% endif %}

                <a href="/farm/{{farm.id}}">
                    link
                </a>
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">Name</h3>
                {% endif %}
                {{farm.name}}
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">Address</h3>
                {% endif %}
                {{farm.streetAddress}} <br>
                {{farm.city}}, {{farm.state}}  {{farm.zip}}
            </div>
            <div class="col-3 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">lat/lon</h3>
                {% endif %}
                {{farm.lat}}/
                {{farm.lon}}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Farms</h1>
{% endif %}

{% endblock %}