{% extends 'base.html' %}

{% block body %}


<a href="/farm/fav/{{farm.id}}">
    {% if farm.fav %}
    <div class="col-2 border">
        {% if loop.index == 1 %}
            <h3 class="display-0.5">Name</h3>
        {% endif %}
        {{farm.name}}
    </div>
    <div class="col-2 border">
        {% if loop.index == 1 %}
            <h3 class="display-0.5">Address</h3>
        {% endif %}
        {{farm.streetAddress}} <br>
        {{farm.city}}, {{farm.state}}  {{farm.zip}}
    </div>
    <div class="col-3 border">
        {% if loop.index == 1 %}
            <h3 class="display-0.5">lat/lon</h3>
        {% endif %}
        {{farm.lat}}/
        {{farm.lon}}
    </div>
</div>
{% endfor %}
{% else %}
<h1>No Farms</h1>
{% endif %}

{% endblock %}
